
.projects {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    /* color: white; */
  }
  
  
.project-container> .tech > h1 {
    font-size: 1em;
    display: inline;
  }
  .project-container>h1,.blog-container>h1 {
    font-size: 2em;
    margin-top: 1em;
    color: gray;
  }
  
  
  
  .project-container > .tech {
    margin-bottom: 1em;
  }

  .tech> p:hover {
    background-color: lightblue;
  }
  .project-container > .tech > p{
    display: inline-block;
    margin: .2em;
    padding: .1em 1em;
    border: solid 1px black;
    border-radius: .5em;
    cursor: pointer;
    
  }
  