* {
  /* font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.nav-menu {
  display: flex;
  list-style: none;
  /* height: 100px; */
  justify-content: center;
  align-items: flex-end;
  background-color: #AF5D36;
}
.nav-item {
  color: wheat;
  /* min-width: 8em; */
  /* padding-bottom: .5em; */
  cursor: pointer;

  transition: all 300ms ease-in-out;
}
.nav-item span {
  display: none;
}

.nav-item:not(.nav-item.nav-resume)>a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-resume {
  /* border: solid red; */
  padding: .5em 1em;
  margin-left: auto;
  border-radius: 10em;
  border: solid 1px #EFACAC;
  font-weight: 700;
  margin-bottom: .5em;
  display: inline-block;
  min-width: 6em;
  transition: all 300ms ease-in-out;
}
.nav-resume> a{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-resume  span {
  /* display: none; */
  display: block;
}

.nav-item:not(.nav-resume)> a >svg{
  padding: 1em;
}
.nav-item:not(.nav-resume):hover {
  background-color: rebeccapurple;
}
.nav-resume:hover{
  background-color: transparent;
  background-color: #EFACAC;
  color: #BA0000;
}

.nav-main > h1 {
  font-size: 100px; 
}
.nav-main >h2{
  font-size: 3em;
  display: inline-block;
  font-weight: 400;
}
.nav-main >h3{
  color: #DC9C9C;
  padding-top: 1em;
  font-size: 3em;
  font-weight: 400;
}
.nav-main >h4{
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
}
.nav-main > p{
  padding: 2em 0em;
  font-weight: 700;
}
.nav-main {
  display: flex;
  flex-direction: column;
  /* margin: 2em 0em; */
  justify-content: center;
}
.header {
  background-color: #AF5D36;
  display: flex;
  min-height: 50vh;
}
.nav-main {
  color: white;
  /* align-items: flex-start; */
  /* height: 100%; */
}
.container {
  padding: 0% 10%;
}
.projects {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  /* color: white; */
}
.project-container>h1,.blog-container>h1 {
  font-size: 2em;
  margin-top: 1em;
  color: gray;
}
.project {

  /* background-color: lemonchiffon; */
  border-radius: 1em;
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  background: #659b5e5b -2.12%;
  /* max-height: 30em; */
}
.project-info {
  padding: 1em 0em 1em 1em;
  display: flex;
  position:relative;
  /* box-shadow: 2px 2px 10px black; */
  /* border: solid 1px black; */
  border-radius: 1rem;
  background: linear-gradient(237.41deg, #659B5E -2.12%, #95BF74 62.09%);

}

.project-info>img{
  position: absolute;
  right:.5em;
  bottom:.5em;
}

.project-tech > h1 {
  white-space: nowrap;
  color: white;
  padding: 0em .5em;
  font-size: .8em;
}
.project-tech  {
  margin-left: 1em;
}
.project-tech .technologies p{
  /* border: solid 1px red; */
  border-radius: 1em 0em 0em 1em;
  background-color: #99DDC8;
  padding: .25em .5em;
  margin: .5em 0em;
  font-size: .8em;

}
.project-images{
  overflow: hidden;
  display: flex;
  /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
  /* grid-gap: .5em; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: .5em;
  max-height: 100%;
}

.project-main a {
  /* display: inline-block; */
  padding: .5em 1em;
  font-size: 1em;
  font-weight: 800;
  margin-top: 1em;
  border: none;
  text-decoration: none;
  border: solid 2px #556F44;
  color: #556F44;
  border-radius: 2em;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: auto;
  transition: all 200ms ease-in;
}
.project-main a:hover {
  color: white;
  background-color: #556F44;
}

.project-title,.project-detail {
  margin-bottom: 0.8em;
}
.project-title {
  color: whitesmoke
}
.project-detail {
  color: darkgreen;
}

.project-main a>svg {
  padding-right: 1em;
}
.project-main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-main > h1 {
  font-size: 1.5em;
}



footer {
  background-color: black;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}
footer a {
  padding-top: .5em;
  text-decoration: none;
  color: white;
}

.blog {
  display: flex;
  min-height: 5em;
  padding: 1em 0em;
}
.blog h1 {
  font-size: 20px;
}
.blog > img {
  height: 60px;
  margin: 0em 1em 1em 0em;
  height: 5em;
}
.project-container > .tech {
  margin-bottom: 1em;
}
.tech> p:hover {
  background-color: lightblue;
}

.project-container > .tech > p{
  display: inline-block;
  margin: .2em;
  padding: .1em 1em;
  border: solid 1px black;
  border-radius: .5em;
  cursor: pointer;
  
}


.project-container> .tech > h1 {
  font-size: 1em;
  display: inline;
}

.project-images button {
  font-size: 1.5em;
  padding: 0em 1em;
  border: none;
  background-color: transparent;
  background-color: rgba(0,0,0,0.4);
  color: white;
}
.project-images button:hover {
  color: white;
  cursor: pointer;
}

.image-list img.selectedImage {
  grid-column: span 2;  
  grid-row: span 3;
  /* height: 100%; */
  height: auto;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 4em));
  width: 100%;
  justify-content: space-between;
  grid-gap: .1em;
  grid-gap:.2em;
  grid-auto-flow: dense;



}
.image-list img {
  width: 100%;
  height: 4em;
  border-radius: .5em;
  object-fit: cover;
  cursor: pointer;
}




.images-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;

}

@media screen and (min-width: 600px) {
  .nav-item span {
    display: block;
  }
  .nav-item {
    width: 8em;
    padding: .5em 0em;
  }
  .nav-resume > a {
    justify-content: space-evenly;
  }
  
}